<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-database.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyARc68WMSHyHtwRvYmGRhC1OHCWohn70eQ",
    authDomain: "qchecklist-c3059.firebaseapp.com",
    databaseURL: "https://qchecklist-c3059.firebaseio.com",
    projectId: "qchecklist-c3059",
    storageBucket: "qchecklist-c3059.appspot.com",
    messagingSenderId: "837209934094"
  };
  firebase.initializeApp(config);
</script>
